<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
      const APP_CONFIG = JSON.parse(
        '<%= htmlWebpackPlugin.options.APP_CONFIG %>'
      );
    </script>
  </head>

  <body>
    <div class="buttons">
      <button data-notic-type="loading-on">Loader on</button>
      <button data-notic-type="loading-off">Loader off</button>
      <button data-notic-message="Info message" data-notic-delay="3000">Add info message, hide after 3s</button>
        <button data-notic-message="Error message" data-notic-type="error">Add error message</button>
      <button data-notic-message="Success message" data-notic-type="success">Add success message</button>
      <button data-notic-clear>Clear queue</button>
    </div>
  </body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-149749840-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-149749840-1');
  </script>
</html>
