@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap&subset=latin-ext');

:root{
  --theme: #1c1b2a;
  --white: #fff;
  ---black: #000;
}

* {
  box-sizing: border-box;
}


body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Muli';
  font-weight: 400;
  background-color: var(--theme);
  display: flex;
  align-items: center;
}

.buttons{
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

button{
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background: #0088cc;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

button[data-notic-type="error"]{
  background: #e74b43;
}
[data-notic-type="success"]{
  background: #27ca5d;
}