.notic {
  &,
  & * {
    box-sizing: border-box;
  }
  position: fixed;
  z-index: 99999999;
  bottom: 0px;
  right: 0px;
  &-message {
    background-color: #fff;
    border-radius: 20px;
    transition: all 0.3s;
    width: 240px;
    transition: all 0.3s;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 0px;
    margin-right: 10px;
    &__visible {
      margin-bottom: 10px;
    }
    &-inner {
      padding: 10px 10px 10px 40px;
      position: relative;
      min-height: 40px;
      min-width: 40px;
    }
    &-icon {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 5px;
      left: 5px;
      svg {
        width: 100%;
        height: auto;
        fill: #0088cc;
      }
    }
    &-text {
      font-size: 16px;
      color: #000;
    }
    &__success {
      svg {
        fill: #27ca5d;
      }
    }
    &__error {
      svg {
        fill: #e74b43;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
